* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input, button {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 900px;
    margin: 200px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

header img {
    width: 50px;
}

header h1 {
    font-size: 25px;
}

form {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

input {
    padding: 10px;
    background-color: white;
    border: 0;
    border-bottom: 2px solid black;
}

#input-name {
    width: 300px;
}

#input-grade {
    width: 100px;
}

button {
    background-color: green;
    color: white;
    padding: 10px;
    font-weight: 700;
}

table {
    width: 100%;
}

table th {
    padding: 15px;
    border-bottom: 3px solid black;
}

table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid gray;
}

table img {
    width: 25px;
}

.result {
    font-weight: 700;
    padding: 7px;
    color: black;
}

.aprovado {
    color: green;
}

.reprovado {
    color: red;
}